In [ ]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /usr/local/lib/python3.10/dist-packages (3.29.2)
Requirement already satisfied: geomet<0.3,>=0.1 in /usr/local/lib/python3.10/dist-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)

In [ ]:
# Import the necessary libraries
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json

In [ ]:
import pandas as pd

In [ ]:
# This secure connect bundle is autogenerated when you download your SCB,
# if yours is different update the file name below
cloud_config= {
  'secure_connect_bundle': 'secure-connect-learner.zip'
}

# This token JSON file is autogenerated when you download your token,
# if yours is different update the file name below
with open("Learner-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

if session:
  print('Connected!')
else:
  print("An error occurred.")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for f46a4b92-271f-4cf2-839b-1a8850e84c83-eu-west-1.db.astra.datastax.com:29042:190dafab-6970-3a67-a21c-1226360de7dc. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for f46a4b92-271f-4cf2-839b-1a8850e84c83-eu-west-1.db.astra.datastax.com:29042:190dafab-6970-3a67-a21c-1226360de7dc. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for f46a4b92-271f-4cf2-839b-1a8850e84c83-eu-west-1.db.astra.datastax.com:29042:190dafab-6970-3a67-a21c-1226360de7dc. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Connected!

In [ ]:
create_table_query = """
CREATE TABLE IF NOT EXISTS bronze_sales (
    id UUID PRIMARY KEY,
    customer_id UUID,
    product_id UUID,
    amount DECIMAL,
    purchase_date TIMESTAMP
);
"""
session.execute(create_table_query)

In [ ]:
session.set_keyspace('example')

**Bronze Table**

In [ ]:
# Set the keyspace
session.set_keyspace('example')

# Try to fetch data from the table
rows = session.execute("SELECT * FROM bronze_sales LIMIT 5;")
for row in rows:
    print(row)

In [ ]:
# Set the keyspace
session.set_keyspace('example')

# Query system_schema.tables to check if bronze_sales exists
rows = session.execute("SELECT * FROM system_schema.tables WHERE keyspace_name = 'example';")
for row in rows:
    print(row)

Row(keyspace_name='example', table_name='bronze_data', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('de6a4250-b1fe-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='bronze_sales', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('24682d60-b14d-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='bronze_table', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('df6e7ba0-b1ed-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='examples', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('e712e220-b14c-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='gold_profit_by_region', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('d571a511-b1b0-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='gold_sales_by_customer', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('4e721290-b1f4-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='gold_sales_by_product', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('4dea9310-b1f4-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='gold_sales_by_region', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('f0384c60-b1f5-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='gold_sales_per_product', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('4ba0d180-b1f1-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='gold_top_items_by_country', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('53161aa0-b1b1-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='gold_units_sold_by_item', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('29412e41-b1b1-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')
Row(keyspace_name='example', table_name='silver_sales', additional_write_policy='99PERCENTILE', bloom_filter_fp_chance=0.01, caching=OrderedMapSerializedKey([('keys', 'ALL'), ('rows_per_partition', 'NONE')]), cdc=None, comment='', compaction=OrderedMapSerializedKey([('class', 'org.apache.cassandra.db.compaction.UnifiedCompactionStrategy')]), compression=OrderedMapSerializedKey([('chunk_length_in_kb', '64'), ('class', 'org.apache.cassandra.io.compress.LZ4Compressor')]), crc_check_chance=1.0, dclocal_read_repair_chance=0.0, default_time_to_live=0, extensions=OrderedMapSerializedKey([]), flags=SortedSet(['compound']), gc_grace_seconds=864000, id=UUID('b016cf20-b1b0-11ef-b8b4-cb29c41c2c61'), max_index_interval=2048, memtable_flush_period_in_ms=0, min_index_interval=128, nodesync=None, read_repair='BLOCKING', read_repair_chance=0.0, speculative_retry='99PERCENTILE')

In [ ]:
import pandas as pd

# Load the CSV file from GitHub
url = "sales_100.csv"
df = pd.read_csv(url)

# Display the first 5 rows to confirm the data is loaded
print(df.head())

                         Region           Country  Item Type Sales Channel  \
0            Sub-Saharan Africa      South Africa     Fruits       Offline
1  Middle East and North Africa           Morocco    Clothes        Online
2         Australia and Oceania  Papua New Guinea       Meat       Offline
3            Sub-Saharan Africa          Djibouti    Clothes       Offline
4                        Europe          Slovakia  Beverages       Offline

  Order Priority  Order Date   Order ID   Ship Date  UnitsSold  UnitPrice  \
0              M   7/27/2012  443368995   7/28/2012       1593       9.33
1              M   9/14/2013  667593514  10/19/2013       4611     109.28
2              M   5/15/2015  940995585    6/4/2015        360     421.89
3              H   5/17/2017  880811536    7/2/2017        562     109.28
4              L  10/26/2016  174590194   12/4/2016       3973      47.45

   UnitCost  TotalRevenue  TotalCost  TotalProfit
0      6.92      14862.69   11023.56      3839.13
1     35.84     503890.08  165258.24    338631.84
2    364.69     151880.40  131288.40     20592.00
3     35.84      61415.36   20142.08     41273.28
4     31.79     188518.85  126301.67     62217.18

In [ ]:
print(df.columns)

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'UnitsSold', 'UnitPrice',
       'UnitCost', 'TotalRevenue', 'TotalCost', 'TotalProfit'],
      dtype='object')

**sliver table**

In [ ]:
create_silver_table_query = """
CREATE TABLE IF NOT EXISTS example.silver_sales (
    order_id BIGINT PRIMARY KEY,
    region TEXT,
    country TEXT,
    item_type TEXT,
    sales_channel TEXT,
    order_priority TEXT,
    order_date TIMESTAMP,
    ship_date TIMESTAMP,
    units_sold INT,
    unit_price FLOAT,
    unit_cost FLOAT,
    total_revenue FLOAT,
    total_cost FLOAT,
    total_profit FLOAT
)
"""
session.execute(create_silver_table_query)
print("Silver table created successfully!")

Silver table created successfully!

In [ ]:
import datetime

# Query the Bronze table for all records
bronze_rows = session.execute("SELECT * FROM example.bronze_data")

# Define an INSERT query for the Silver table
insert_silver_query = """
INSERT INTO example.silver_sales (
    order_id, region, country, item_type, sales_channel, order_priority,
    order_date, ship_date, units_sold, unit_price, unit_cost,
    total_revenue, total_cost, total_profit
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""

prepared_silver = session.prepare(insert_silver_query)

# Insert data into the Silver table
for row in bronze_rows:
    # Convert date strings to TIMESTAMP
    order_date = datetime.datetime.strptime(row.order_date, '%m/%d/%Y')
    ship_date = datetime.datetime.strptime(row.ship_date, '%m/%d/%Y')

    session.execute(prepared_silver, (
        row.order_id, row.region, row.country, row.item_type, row.sales_channel,
        row.order_priority, order_date, ship_date, row.units_sold,
        row.unit_price, row.unit_cost, row.total_revenue, row.total_cost, row.total_profit
    ))

print("Data inserted into Silver table successfully!")

Data inserted into Silver table successfully!

In [ ]:
rows = session.execute("SELECT * FROM example.silver_sales LIMIT 5")
for row in rows:
    print(row)

Row(order_id=294530856, country='Italy', item_type='Cereal', order_date=datetime.datetime(2011, 11, 15, 0, 0), order_priority='M', region='Europe', sales_channel='Online', ship_date=datetime.datetime(2011, 12, 28, 0, 0), total_cost=829138.8125, total_profit=627217.1875, total_revenue=1456356.0, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7080)
Row(order_id=274930989, country='Dominica', item_type='Household', order_date=datetime.datetime(2011, 11, 19, 0, 0), order_priority='C', region='Central America and the Caribbean', sales_channel='Offline', ship_date=datetime.datetime(2011, 12, 13, 0, 0), total_cost=3539891.75, total_profit=1167402.125, total_revenue=4707294.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7044)
Row(order_id=498071897, country='Taiwan', item_type='Cereal', order_date=datetime.datetime(2010, 4, 11, 0, 0), order_priority='H', region='Asia', sales_channel='Online', ship_date=datetime.datetime(2010, 5, 26, 0, 0), total_cost=1100482.625, total_profit=832480.25, total_revenue=1932962.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=9397)
Row(order_id=940980136, country='New Zealand', item_type='Beverages', order_date=datetime.datetime(2012, 10, 11, 0, 0), order_priority='M', region='Australia and Oceania', sales_channel='Online', ship_date=datetime.datetime(2012, 11, 4, 0, 0), total_cost=184000.515625, total_profit=90640.078125, total_revenue=274640.59375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=5788)
Row(order_id=324669444, country='France', item_type='Cosmetics', order_date=datetime.datetime(2015, 12, 7, 0, 0), order_priority='M', region='Europe', sales_channel='Online', ship_date=datetime.datetime(2016, 1, 18, 0, 0), total_cost=1516254.125, total_profit=1001143.4375, total_revenue=2517397.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=5758)

In [ ]:
query = "SELECT * FROM example.silver_sales ;"
rows = session.execute(query)

for row in rows:
    print(row)

Row(order_id=294530856, country='Italy', item_type='Cereal', order_date=datetime.datetime(2011, 11, 15, 0, 0), order_priority='M', region='Europe', sales_channel='Online', ship_date=datetime.datetime(2011, 12, 28, 0, 0), total_cost=829138.8125, total_profit=627217.1875, total_revenue=1456356.0, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7080)
Row(order_id=274930989, country='Dominica', item_type='Household', order_date=datetime.datetime(2011, 11, 19, 0, 0), order_priority='C', region='Central America and the Caribbean', sales_channel='Offline', ship_date=datetime.datetime(2011, 12, 13, 0, 0), total_cost=3539891.75, total_profit=1167402.125, total_revenue=4707294.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7044)
Row(order_id=498071897, country='Taiwan', item_type='Cereal', order_date=datetime.datetime(2010, 4, 11, 0, 0), order_priority='H', region='Asia', sales_channel='Online', ship_date=datetime.datetime(2010, 5, 26, 0, 0), total_cost=1100482.625, total_profit=832480.25, total_revenue=1932962.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=9397)
Row(order_id=940980136, country='New Zealand', item_type='Beverages', order_date=datetime.datetime(2012, 10, 11, 0, 0), order_priority='M', region='Australia and Oceania', sales_channel='Online', ship_date=datetime.datetime(2012, 11, 4, 0, 0), total_cost=184000.515625, total_profit=90640.078125, total_revenue=274640.59375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=5788)
Row(order_id=324669444, country='France', item_type='Cosmetics', order_date=datetime.datetime(2015, 12, 7, 0, 0), order_priority='M', region='Europe', sales_channel='Online', ship_date=datetime.datetime(2016, 1, 18, 0, 0), total_cost=1516254.125, total_profit=1001143.4375, total_revenue=2517397.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=5758)
Row(order_id=830410039, country='Switzerland', item_type='Office Supplies', order_date=datetime.datetime(2014, 7, 29, 0, 0), order_priority='C', region='Europe', sales_channel='Offline', ship_date=datetime.datetime(2014, 8, 27, 0, 0), total_cost=2960249.5, total_profit=711923.75, total_revenue=3672173.25, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5639)
Row(order_id=953361213, country='Zimbabwe', item_type='Office Supplies', order_date=datetime.datetime(2011, 3, 28, 0, 0), order_priority='C', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=datetime.datetime(2011, 4, 8, 0, 0), total_cost=5051690.0, total_profit=1214903.75, total_revenue=6266594.0, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9623)
Row(order_id=425418365, country='United Arab Emirates', item_type='Office Supplies', order_date=datetime.datetime(2012, 6, 23, 0, 0), order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date=datetime.datetime(2012, 7, 6, 0, 0), total_cost=5041191.0, total_profit=1212378.75, total_revenue=6253569.5, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9603)
Row(order_id=349235904, country='Mauritius ', item_type='Clothes', order_date=datetime.datetime(2012, 11, 17, 0, 0), order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=datetime.datetime(2012, 12, 2, 0, 0), total_cost=197836.796875, total_profit=405388.8125, total_revenue=603225.625, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=5520)
Row(order_id=246248090, country='The Bahamas', item_type='Personal Care', order_date=datetime.datetime(2011, 1, 19, 0, 0), order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date=datetime.datetime(2011, 2, 21, 0, 0), total_cost=517793.78125, total_profit=228973.21875, total_revenue=746767.0, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9137)
Row(order_id=368977391, country='Canada', item_type='Cosmetics', order_date=datetime.datetime(2011, 5, 9, 0, 0), order_priority='H', region='North America', sales_channel='Online', ship_date=datetime.datetime(2011, 6, 2, 0, 0), total_cost=1965495.125, total_profit=1297765.625, total_revenue=3263260.75, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7464)
Row(order_id=572335612, country='Vanuatu', item_type='Cereal', order_date=datetime.datetime(2014, 6, 20, 0, 0), order_priority='C', region='Australia and Oceania', sales_channel='Offline', ship_date=datetime.datetime(2014, 8, 5, 0, 0), total_cost=665301.9375, total_profit=503279.78125, total_revenue=1168581.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=5681)
Row(order_id=443368995, country='South Africa', item_type='Fruits', order_date=datetime.datetime(2012, 7, 27, 0, 0), order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=datetime.datetime(2012, 7, 28, 0, 0), total_cost=11023.5595703125, total_profit=3839.1298828125, total_revenue=14862.6904296875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1593)
Row(order_id=156295812, country='East Timor', item_type='Cereal', order_date=datetime.datetime(2015, 12, 7, 0, 0), order_priority='M', region='Australia and Oceania', sales_channel='Offline', ship_date=datetime.datetime(2015, 12, 30, 0, 0), total_cost=30331.490234375, total_profit=22944.810546875, total_revenue=53276.30078125, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=259)
Row(order_id=807785928, country='Ethiopia', item_type='Cosmetics', order_date=datetime.datetime(2011, 7, 7, 0, 0), order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=datetime.datetime(2011, 7, 25, 0, 0), total_cost=174324.453125, total_profit=115101.9375, total_revenue=289426.40625, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=662)
Row(order_id=678896129, country='Indonesia', item_type='Personal Care', order_date=datetime.datetime(2012, 10, 22, 0, 0), order_priority='L', region='Asia', sales_channel='Offline', ship_date=datetime.datetime(2012, 10, 31, 0, 0), total_cost=527371.0, total_profit=233208.359375, total_revenue=760579.375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9306)
Row(order_id=520480573, country='Indonesia', item_type='Household', order_date=datetime.datetime(2011, 9, 28, 0, 0), order_priority='C', region='Asia', sales_channel='Online', ship_date=datetime.datetime(2011, 9, 28, 0, 0), total_cost=313082.40625, total_profit=103249.7890625, total_revenue=416332.21875, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=623)
Row(order_id=925136649, country='Serbia', item_type='Clothes', order_date=datetime.datetime(2016, 7, 6, 0, 0), order_priority='L', region='Europe', sales_channel='Offline', ship_date=datetime.datetime(2016, 7, 13, 0, 0), total_cost=263352.3125, total_profit=539637.125, total_revenue=802989.4375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=7348)
Row(order_id=222504317, country='Belgium', item_type='Personal Care', order_date=datetime.datetime(2011, 11, 1, 0, 0), order_priority='H', region='Europe', sales_channel='Online', ship_date=datetime.datetime(2011, 11, 20, 0, 0), total_cost=160206.09375, total_profit=70844.6171875, total_revenue=231050.703125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=2827)
Row(order_id=563681733, country='Togo', item_type='Cosmetics', order_date=datetime.datetime(2015, 9, 8, 0, 0), order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=datetime.datetime(2015, 9, 9, 0, 0), total_cost=1265564.0, total_profit=835619.25, total_revenue=2101183.25, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=4806)
Row(order_id=488121116, country='The Bahamas', item_type='Fruits', order_date=datetime.datetime(2010, 6, 18, 0, 0), order_priority='L', region='Central America and the Caribbean', sales_channel='Offline', ship_date=datetime.datetime(2010, 6, 30, 0, 0), total_cost=32800.80078125, total_profit=11423.400390625, total_revenue=44224.19921875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=4740)
Row(order_id=839094388, country='Tonga', item_type='Baby Food', order_date=datetime.datetime(2016, 5, 11, 0, 0), order_priority='L', region='Australia and Oceania', sales_channel='Online', ship_date=datetime.datetime(2016, 5, 31, 0, 0), total_cost=881752.0, total_profit=530201.6875, total_revenue=1411953.625, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=5531)
Row(order_id=500371730, country='Pakistan', item_type='Meat', order_date=datetime.datetime(2013, 12, 28, 0, 0), order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date=datetime.datetime(2014, 2, 15, 0, 0), total_cost=3635594.5, total_profit=570226.8125, total_revenue=4205821.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9969)
Row(order_id=845056617, country='Netherlands', item_type='Fruits', order_date=datetime.datetime(2016, 11, 19, 0, 0), order_priority='L', region='Europe', sales_channel='Online', ship_date=datetime.datetime(2016, 11, 30, 0, 0), total_cost=68418.0390625, total_profit=23827.669921875, total_revenue=92245.7109375, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=9887)
Row(order_id=434008300, country='Thailand', item_type='Fruits', order_date=datetime.datetime(2012, 9, 30, 0, 0), order_priority='C', region='Asia', sales_channel='Offline', ship_date=datetime.datetime(2012, 11, 14, 0, 0), total_cost=10760.599609375, total_profit=3747.550048828125, total_revenue=14508.150390625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1555)
Row(order_id=862861335, country='The Gambia', item_type='Fruits', order_date=datetime.datetime(2011, 11, 20, 0, 0), order_priority='C', region='Sub-Saharan Africa', sales_channel='Online', ship_date=datetime.datetime(2011, 11, 22, 0, 0), total_cost=60197.078125, total_profit=20964.58984375, total_revenue=81161.671875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=8699)
Row(order_id=756839835, country='Romania', item_type='Beverages', order_date=datetime.datetime(2012, 2, 19, 0, 0), order_priority='M', region='Europe', sales_channel='Online', ship_date=datetime.datetime(2012, 3, 13, 0, 0), total_cost=145629.984375, total_profit=71738.4609375, total_revenue=217368.453125, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4581)
Row(order_id=479969346, country='Tunisia ', item_type='Cosmetics', order_date=datetime.datetime(2012, 7, 1, 0, 0), order_priority='H', region='Middle East and North Africa', sales_channel='Offline', ship_date=datetime.datetime(2012, 7, 20, 0, 0), total_cost=645158.5, total_profit=425981.5, total_revenue=1071140.0, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=2450)
Row(order_id=116205585, country='Turkmenistan', item_type='Vegetables', order_date=datetime.datetime(2015, 4, 13, 0, 0), order_priority='M', region='Asia', sales_channel='Online', ship_date=datetime.datetime(2015, 6, 2, 0, 0), total_cost=606503.125, total_profit=421077.09375, total_revenue=1027580.1875, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=6670)
Row(order_id=496523940, country='Ghana', item_type='Fruits', order_date=datetime.datetime(2016, 5, 29, 0, 0), order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=datetime.datetime(2016, 6, 4, 0, 0), total_cost=9155.16015625, total_profit=3188.429931640625, total_revenue=12343.58984375, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1323)
Row(order_id=710296428, country='Kazakhstan', item_type='Snacks', order_date=datetime.datetime(2013, 9, 8, 0, 0), order_priority='L', region='Asia', sales_channel='Online', ship_date=datetime.datetime(2013, 10, 25, 0, 0), total_cost=131738.875, total_profit=74549.28125, total_revenue=206288.15625, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=1352)
Row(order_id=642134416, country='Finland', item_type='Vegetables', order_date=datetime.datetime(2012, 10, 9, 0, 0), order_priority='C', region='Europe', sales_channel='Offline', ship_date=datetime.datetime(2012, 11, 27, 0, 0), total_cost=63469.140625, total_profit=44064.73828125, total_revenue=107533.8828125, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=698)
Row(order_id=573998582, country='Nicaragua', item_type='Household', order_date=datetime.datetime(2015, 10, 28, 0, 0), order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date=datetime.datetime(2015, 12, 7, 0, 0), total_cost=3915289.25, total_profit=1291202.375, total_revenue=5206491.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7791)
Row(order_id=584356629, country='Democratic Republic of the Congo', item_type='Cosmetics', order_date=datetime.datetime(2012, 10, 7, 0, 0), order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=datetime.datetime(2012, 10, 25, 0, 0), total_cost=781300.125, total_profit=515872.28125, total_revenue=1297172.375, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=2967)
Row(order_id=704205024, country='Lebanon', item_type='Meat', order_date=datetime.datetime(2017, 3, 8, 0, 0), order_priority='L', region='Middle East and North Africa', sales_channel='Online', ship_date=datetime.datetime(2017, 4, 18, 0, 0), total_cost=3198331.25, total_profit=501644.0, total_revenue=3699975.25, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=8770)
Row(order_id=830192887, country='Sri Lanka', item_type='Fruits', order_date=datetime.datetime(2011, 11, 7, 0, 0), order_priority='L', region='Asia', sales_channel='Online', ship_date=datetime.datetime(2011, 12, 18, 0, 0), total_cost=9542.6796875, total_profit=3323.389892578125, total_revenue=12866.0703125, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1379)
Row(order_id=835696351, country='Estonia', item_type='Household', order_date=datetime.datetime(2011, 9, 1, 0, 0), order_priority='H', region='Europe', sales_channel='Offline', ship_date=datetime.datetime(2011, 10, 21, 0, 0), total_cost=5013339.0, total_profit=1653322.5, total_revenue=6666661.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=9976)
Row(order_id=731120240, country='Saint Lucia', item_type='Fruits', order_date=datetime.datetime(2015, 12, 12, 0, 0), order_priority='L', region='Central America and the Caribbean', sales_channel='Offline', ship_date=datetime.datetime(2016, 1, 12, 0, 0), total_cost=24780.51953125, total_profit=8630.2099609375, total_revenue=33410.73046875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3581)
Row(order_id=371502530, country='Israel', item_type='Beverages', order_date=datetime.datetime(2013, 9, 8, 0, 0), order_priority='H', region='Middle East and North Africa', sales_channel='Offline', ship_date=datetime.datetime(2013, 10, 13, 0, 0), total_cost=149699.109375, total_profit=73742.9375, total_revenue=223442.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4709)
Row(order_id=425793445, country='Seychelles ', item_type='Beverages', order_date=datetime.datetime(2013, 1, 18, 0, 0), order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=datetime.datetime(2013, 2, 16, 0, 0), total_cost=18978.630859375, total_profit=9349.01953125, total_revenue=28327.650390625, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=597)
Row(order_id=937431466, country='Samoa ', item_type='Household', order_date=datetime.datetime(2016, 12, 5, 0, 0), order_priority='L', region='Australia and Oceania', sales_channel='Online', ship_date=datetime.datetime(2016, 12, 8, 0, 0), total_cost=2842868.75, total_profit=937534.625, total_revenue=3780403.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=5657)
Row(order_id=485070693, country='Haiti', item_type='Office Supplies', order_date=datetime.datetime(2010, 12, 31, 0, 0), order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date=datetime.datetime(2011, 1, 31, 0, 0), total_cost=1077217.875, total_profit=259065.0, total_revenue=1336282.875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2052)
Row(order_id=757619178, country='Turkmenistan', item_type='Meat', order_date=datetime.datetime(2017, 4, 30, 0, 0), order_priority='M', region='Asia', sales_channel='Online', ship_date=datetime.datetime(2017, 5, 14, 0, 0), total_cost=1898576.125, total_profit=297783.1875, total_revenue=2196359.25, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=5206)
Row(order_id=882908809, country='Egypt', item_type='Clothes', order_date=datetime.datetime(2016, 8, 9, 0, 0), order_priority='C', region='Middle East and North Africa', sales_channel='Online', ship_date=datetime.datetime(2016, 8, 24, 0, 0), total_cost=42721.28125, total_profit=87540.4765625, total_revenue=130261.7578125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=1192)
Row(order_id=146634709, country='Liberia', item_type='Baby Food', order_date=datetime.datetime(2015, 6, 6, 0, 0), order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=datetime.datetime(2015, 6, 12, 0, 0), total_cost=211072.078125, total_profit=126918.640625, total_revenue=337990.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=1324)
Row(order_id=363086831, country='Mali', item_type='Household', order_date=datetime.datetime(2010, 8, 19, 0, 0), order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=datetime.datetime(2010, 9, 7, 0, 0), total_cost=2169465.25, total_profit=715456.4375, total_revenue=2884921.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=4317)
Row(order_id=179137074, country='Nepal', item_type='Meat', order_date=datetime.datetime(2014, 2, 21, 0, 0), order_priority='H', region='Asia', sales_channel='Online', ship_date=datetime.datetime(2014, 3, 14, 0, 0), total_cost=3463096.25, total_profit=543171.1875, total_revenue=4006267.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9496)
Row(order_id=529276502, country='Burundi', item_type='Beverages', order_date=datetime.datetime(2011, 3, 9, 0, 0), order_priority='H', region='Sub-Saharan Africa', sales_channel='Online', ship_date=datetime.datetime(2011, 4, 9, 0, 0), total_cost=112314.0703125, total_profit=55326.78125, total_revenue=167640.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3533)
Row(order_id=297876536, country='South Korea', item_type='Meat', order_date=datetime.datetime(2016, 3, 16, 0, 0), order_priority='L', region='Asia', sales_channel='Offline', ship_date=datetime.datetime(2016, 4, 20, 0, 0), total_cost=2604251.25, total_profit=408465.1875, total_revenue=3012716.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=7141)
Row(order_id=459386289, country='Kuwait', item_type='Household', order_date=datetime.datetime(2011, 6, 13, 0, 0), order_priority='C', region='Middle East and North Africa', sales_channel='Offline', ship_date=datetime.datetime(2011, 7, 21, 0, 0), total_cost=736723.625, total_profit=242960.1875, total_revenue=979683.8125, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=1466)
Row(order_id=887124383, country='Greece', item_type='Cereal', order_date=datetime.datetime(2015, 8, 22, 0, 0), order_priority='H', region='Europe', sales_channel='Online', ship_date=datetime.datetime(2015, 10, 8, 0, 0), total_cost=1015812.125, total_profit=768429.6875, total_revenue=1784241.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=8674)

# **Gold Table 1: Total Profit by Region**

In [145]:
# Create Gold Table 1
create_gold_table_1_query = """
CREATE TABLE IF NOT EXISTS gold_total_sales_by_product (
    item_type TEXT PRIMARY KEY,
    total_quantity INT,
    total_sales DECIMAL
);
"""
session.execute(create_gold_table_1_query)
print("Gold Table 1 created successfully!")

# Query Silver table and aggregate data by item_type
rows = session.execute("SELECT item_type, units_sold, unit_price FROM example.silver_sales;")

# Perform aggregation
product_sales = {}
for row in rows:
    item_type = row.item_type  # Using 'item_type' as the product identifier
    quantity = row.units_sold
    sales = quantity * row.unit_price

    if item_type in product_sales:
        product_sales[item_type]['total_quantity'] += quantity
        product_sales[item_type]['total_sales'] += sales
    else:
        product_sales[item_type] = {'total_quantity': quantity, 'total_sales': sales}

# Insert aggregated data into Gold Table 1
for item_type, data in product_sales.items():
    session.execute(
        """
        INSERT INTO gold_total_sales_by_product (item_type, total_quantity, total_sales)
        VALUES (%s, %s, %s)
        """,
        (item_type, data['total_quantity'], data['total_sales'])
    )

print("Gold Table 1 (Total Sales by Product) populated successfully!")

Gold Table 1 created successfully!

InvalidRequest: Error from server: code=2200 [Invalid query] message="Undefined column name item_type"

In [146]:
# Drop existing Gold tables if they exist
session.execute("DROP TABLE IF EXISTS gold_total_sales_by_product;")
session.execute("DROP TABLE IF EXISTS gold_sales_by_region;")
session.execute("DROP TABLE IF EXISTS gold_top_customers;")

print("Existing Gold tables dropped successfully!")

Existing Gold tables dropped successfully!

In [147]:
# Step 2: Create Gold Table 1: Total Sales by Product
create_gold_table_1_query = """
CREATE TABLE IF NOT EXISTS gold_total_sales_by_product (
    item_type TEXT PRIMARY KEY,
    total_quantity INT,
    total_sales DECIMAL
);
"""
session.execute(create_gold_table_1_query)
print("Gold Table 1 created successfully!")

# Step 3: Create Gold Table 2: Total Sales by Region
create_gold_table_2_query = """
CREATE TABLE IF NOT EXISTS gold_sales_by_region (
    region TEXT PRIMARY KEY,
    total_sales DECIMAL
);
"""
session.execute(create_gold_table_2_query)
print("Gold Table 2 created successfully!")

# Step 4: Create Gold Table 3: Top Customers
create_gold_table_3_query = """
CREATE TABLE IF NOT EXISTS gold_top_customers (
    customer_id UUID PRIMARY KEY,
    total_sales DECIMAL
);
"""
session.execute(create_gold_table_3_query)
print("Gold Table 3 created successfully!")

Gold Table 1 created successfully!
Gold Table 2 created successfully!
Gold Table 3 created successfully!

In [148]:
rows = session.execute("SELECT item_type, units_sold, unit_price FROM example.silver_sales;")

product_sales = {}
for row in rows:
    item_type = row.item_type
    quantity = row.units_sold
    sales = quantity * row.unit_price

    if item_type in product_sales:
        product_sales[item_type]['total_quantity'] += quantity
        product_sales[item_type]['total_sales'] += sales
    else:
        product_sales[item_type] = {'total_quantity': quantity, 'total_sales': sales}

for item_type, data in product_sales.items():
    session.execute(
        """
        INSERT INTO gold_total_sales_by_product (item_type, total_quantity, total_sales)
        VALUES (%s, %s, %s)
        """,
        (item_type, data['total_quantity'], data['total_sales'])
    )

print("Gold Table 1 (Total Sales by Product) populated successfully!")

Gold Table 1 (Total Sales by Product) populated successfully!

In [149]:
# Gold Table 2 (Total Sales by Region)
rows = session.execute("SELECT region, units_sold, unit_price FROM example.silver_sales;")

region_sales = {}
for row in rows:
    region = row.region
    sales = row.units_sold * row.unit_price

    if region in region_sales:
        region_sales[region] += sales
    else:
        region_sales[region] = sales

for region, total_sales in region_sales.items():
    session.execute(
        """
        INSERT INTO gold_sales_by_region (region, total_sales)
        VALUES (%s, %s)
        """,
        (region, total_sales)
    )

print("Gold Table 2 (Total Sales by Region) populated successfully!")

Gold Table 2 (Total Sales by Region) populated successfully!

In [152]:
from uuid import uuid4

# Gold Table 3 (Top Customers)
# We assume order_id acts as a proxy for a customer in this case.
rows = session.execute("SELECT order_id, total_profit FROM example.silver_sales;")

# Aggregating total profit by order_id (acting as customer_id)
customer_sales = {}
for row in rows:
    order_id = row.order_id  # Using order_id as a stand-in for customer_id
    sales = row.total_profit

    if order_id in customer_sales:
        customer_sales[order_id] += sales
    else:
        customer_sales[order_id] = sales

# Insert top 10 customers (based on total_profit) into Gold Table 3
for order_id, total_sales in sorted(customer_sales.items(), key=lambda x: x[1], reverse=True)[:10]:
    # Convert order_id to UUID (if it's not already UUID)
    # If `order_id` is an integer or string, convert it to UUID
    customer_id = uuid4()  # Using uuid4() to generate a new UUID (if needed)

    session.execute(
        """
        INSERT INTO gold_top_customers (customer_id, total_sales)
        VALUES (%s, %s)
        """,
        (customer_id, total_sales)
    )

print("Gold Table 3 (Top Customers) populated successfully!")

Gold Table 3 (Top Customers) populated successfully!

In [154]:
# Step 6: Verify Data
print("Gold Table 1 Data:")
rows = session.execute("SELECT * FROM gold_total_sales_by_product;")
for row in rows:
    print(row)

Gold Table 1 Data:
Row(item_type='Household', total_quantity=57640, total_sales=Decimal('38519083.92578125'))
Row(item_type='Office Supplies', total_quantity=42814, total_sales=Decimal('27880905.880737305'))
Row(item_type='Vegetables', total_quantity=7368, total_sales=Decimal('1135114.0620117188'))
Row(item_type='Snacks', total_quantity=14377, total_sales=Decimal('2193642.6863250732'))
Row(item_type='Personal Care', total_quantity=39045, total_sales=Decimal('3191147.981071472'))
Row(item_type='Meat', total_quantity=50437, total_sales=Decimal('21278866.668823242'))
Row(item_type='Fruits', total_quantity=65920, total_sales=Decimal('615033.5949707031'))
Row(item_type='Beverages', total_quantity=45206, total_sales=Decimal('2145024.734489441'))
Row(item_type='Cereal', total_quantity=45776, total_sales=Decimal('9416123.060302734'))
Row(item_type='Cosmetics', total_quantity=65707, total_sales=Decimal('28727101.202087402'))
Row(item_type='Baby Food', total_quantity=20372, total_sales=Decimal('5200564.135131836'))
Row(item_type='Clothes', total_quantity=40148, total_sales=Decimal('4387373.390991211'))

In [155]:
print("Gold Table 2 Data:")
rows = session.execute("SELECT * FROM gold_sales_by_region;")
for row in rows:
    print(row)

Gold Table 2 Data:
Row(region='Australia and Oceania', total_sales=Decimal('10711258.296281815'))
Row(region='Europe', total_sales=Decimal('34964750.484773636'))
Row(region='Middle East and North Africa', total_sales=Decimal('24765128.00546646'))
Row(region='Central America and the Caribbean', total_sales=Decimal('17570835.936037064'))
Row(region='Asia', total_sales=Decimal('28840812.910438538'))
Row(region='Sub-Saharan Africa', total_sales=Decimal('24225438.06429863'))
Row(region='North America', total_sales=Decimal('3611757.625427246'))

In [156]:

print("Gold Table 3 Data:")
rows = session.execute("SELECT * FROM gold_top_customers;")
for row in rows:
    print(row)

Gold Table 3 Data:
Row(customer_id=UUID('fe664d2b-3838-44bb-b4f8-176d9a248f98'), total_sales=Decimal('1291202.375'))
Row(customer_id=UUID('48059d26-9cf7-47bd-a610-eb40c7af0243'), total_sales=Decimal('1297765.625'))
Row(customer_id=UUID('635ee6c7-1ef8-46ed-b1e6-84ed3665290f'), total_sales=Decimal('1214903.75'))
Row(customer_id=UUID('ebba8b57-7e7c-4e61-9fc8-e7b69c9aaa8d'), total_sales=Decimal('1390971.875'))
Row(customer_id=UUID('b61d431d-945e-4510-8480-9ab2832cad0c'), total_sales=Decimal('1380006.25'))
Row(customer_id=UUID('d1a101f2-8a1f-40f0-b406-c633830c6951'), total_sales=Decimal('1681149.0'))
Row(customer_id=UUID('993a2efa-8b37-456b-8020-0302fbfcd8fe'), total_sales=Decimal('1653322.5'))
Row(customer_id=UUID('b2846796-b573-47ed-9312-f3770fa29492'), total_sales=Decimal('1350368.0'))
Row(customer_id=UUID('f72e970b-ab6d-4f5d-9608-369b70ccc9c3'), total_sales=Decimal('1350622.125'))
Row(customer_id=UUID('b3888ba7-5f20-4112-afe6-5d23acb4b49c'), total_sales=Decimal('1592127.625'))

In [144]:
rows = session.execute("SELECT column_name FROM system_schema.columns WHERE keyspace_name = 'example' AND table_name = 'silver_sales';")
print("Columns in silver_sales:")
for row in rows:
    print(row.column_name)

Columns in silver_sales:
country
item_type
order_date
order_id
order_priority
region
sales_channel
ship_date
total_cost
total_profit
total_revenue
unit_cost
unit_price
units_sold